* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "calibri", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
}

/* Navbar Styling */
.go-to-home-nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6vh;
  background-color: rgb(165, 42, 42);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px;
  z-index: 1001;
}

.go-to-home-nav-bar i {
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffffff;
  padding: 10px;
}

.home-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
}





/* Home Page */
.home-page {
  text-align: center;
  padding: 20px 0px;
  padding-bottom: 0;
  margin-top: 6vh;
  background-color: #f9f9f9;
}
.main-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px 0px;
  margin-left: auto;
  margin-right: auto;

}

.main-image img{
  width: 80%;
  height: 80%;
}


.home-title{
  font-size: 3rem;
  margin: 20px;
  padding: 20px 0px;
  padding-bottom: 0;
  text-align: left;
  font-weight: bold;
  color: rgb(165, 42, 42);
}

.home-text{
  margin: 20px;
  margin-top: 0;
  padding: 20px 0px;
  padding-top: 0;
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.2;
}



.carousel-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px 0px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* Buttons */
.home-button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px;
  padding: 20px 0px;
  flex-wrap: wrap;
}




/* Guest Page */
.guest-page {
  text-align: center;
  padding: 20px;
  margin-top: 3vh; /* Adjust margin to avoid navbar overlap */
  margin-bottom: 3vh;
}



/* Dropdown Styling */


.guest-page {
  padding: 1rem;
}

.guest-collapse-container {
  max-width: 800px;
  margin: auto;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.ant-collapse-header{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  background-color: rgb(165, 42, 42);
}
.ant-collapse-header-text{
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  padding: 8px;
  width: 100%;
  /* prevent text going outside the box and move to next line */
  word-wrap: break-word;
}
.ant-collapse-expand-icon{
  font-size: 1.5rem;
  color: white;
  padding-top: 25px;
}


/* Dropdown Content */
.link-list {
  list-style: none;
  padding: 0;
  width: 100%;
}
.link-list li {
  margin-bottom: 8px;
  color: rgb(165, 42, 42);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 0px;
  /* prevent text going outside the box and move to next line */
  word-wrap: break-word;

}
.link-list a {
  text-decoration: none;
  cursor: pointer;
}
.link-list a:hover {
  text-decoration: underline;
}
.ant-collapse-content{
  font-size: 1rem;
  font-weight: normal;
}

/* iFrame Styling */
.guest-iframe-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 94%;
  z-index: 1000; 
  background-color: white;
}

.guest-iframe-container iframe {
  width: 100%;
  height: 94vh;
  border: none;
  background-color: white;
  padding: 10px;
}






/* Footer */
.footer {
  background-color: rgb(243, 243, 243);
  padding: 10px 0;
  text-align: center;
  width: 100%;
}


.footer-text{
  font-size: 1.2rem;
  padding-bottom: 10px;
  font-weight: bold;
}

























@media screen and (max-width: 768px) {

  .home-text{
    font-size: 1rem;
  }
  .carousel-image{
    width: 90%;
  }

  .guest-dropdown-button-container{
    width: 100%;
  }
  .guest-dropdown {
    width: 90%;
  }
  .footer img{
    width: 50%;
  }
}